<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buka.mapper.MovieMapper">
    <select id="getMovieByIds" resultType="cinema">
        select * from t_movie
        <where>
            <foreach collection="movieIds" item="id" open="movie_id in (" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>
</mapper>
